@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Bree+Serif&family=Dancing+Script:wght@700&family=Noto+Sans+Old+Permic&family=Nunito:ital@1&family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

#navbar {
    background-color: #14111f;
    padding: 17px 4px;
    font-weight: bold;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    padding: 11px 51px;
    color: white;
    font-size: 1.3rem;
}

#navbar li a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.3rem;
}

#logo img {
    height: 34px;
    border-radius: 20px;
    width: 34px;
    margin: -2px 23px;
}

/* nav::before{
    content: "";
    top: 0;
    left: 0;
} */

#introSection {
    height: 400px;
    color: #2a811f;
    /* color: #01a800; */
    text-align: center;
    padding-top: 88px;
    background-color: lightskyblue;
    background: url("/static/bg4.jpg") center/cover no-repeat;
    font-size: 53px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

#introSection div.heading {
    font-size: 51px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

#introSection div.para {
    font-size: 44px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}


#missionSection {
    padding-top: 0px;
    height: 400px;
    background: url(../static/bg2.jpg) center/cover no-repeat;
}

#missionSection h2 {
    text-align: center;
    color: #01a800;
    font-size: 44px;
    font-weight: bold;
}

.card {
    border: 2px solid white;
    border-radius: 23px;
    /* color: #01f500; */
    /* color: #01a800; */
    color: white;
    width: 30%;
    padding: 4px 30px;
    margin: 23px;
    height: 260px;
    display: inline-block;
}

.card h3 {
    text-align: center;
    font-size: 41px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 160px;
}

.card-img img {
    height: inherit;
    width: 122px;
}

.card-content p {
    text-align: center;
    font-size: 19px;
    padding: 17px;
}


#sponsorsSection {
    padding-top: 12px;
    height: 300px;
    color: white;
    background-color: mediumpurple;
    background: url(../static/bg1.jpg) center/cover no-repeat;
}

#sponsorsSection h2 {
    text-align: center;
    color: white;
    font-size: 44px;
    font-weight: bold;
}

#sponsors {
    height: 120px;
    max-width: 1000px;
    margin: auto;
    /* display: inline-block; */
}
.spImage{
    width: 25%;
    height: 10rem;
    margin: 34px auto;
}

#footer {
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: initial;
}